<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog4j.user.mapper.OrganizationUserRelMapper">
    <resultMap type="com.blog4j.user.entity.OrganizationUserRelEntity" id="BaseResultMap">
        <result property="organizationId" column="organization_id"/>
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
    </resultMap>


</mapper>